.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f3f4;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.logo-section {
  margin-bottom: 1px;
}
.logo-img {
  width: 800px;
  height: 300px;
}

.title {
  font-size: 26px;
  color: #202124;
  margin-top: 1px;
}

.auth-buttons {
  display: flex;
  gap: 16px;
}

.auth-buttons button {
  padding: 10px 24px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-login {
  background-color: #e2ba35;
  color: white;
}

.btn-login:hover {
  background-color: #e7c659;
}

.btn-register {
  background-color: transparent;
  color: #e2ba35;
  border: 1.5px solid #e2ba35;
}

.btn-register:hover {
  background-color: #e8f0fe;
}

/* for small screens */
@media (max-width: 500px) {
  .auth-buttons {
    flex-direction: column;
    width: 80%;
  }

  .auth-buttons button {
    width: 100%;
  }
}
